<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon -->
	<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
	<title>سفارش غذا</title>
	<!-- Bootstrap core CSS-->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/mega.menu.css" rel="stylesheet">
	<link href="css/owlslider.css" rel="stylesheet">
	<!-- Owl Carousel for this template-->
	<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.html">
	<!-- Fontawesome styles for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body oncontextmenu="">

	<!--header start-->
	<header id="header" class="default">
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="topbar-right text-center text-md-right">
							<ul class="list-inline">
								<li><a href="#"><i class="far fa-calendar-alt"></i>لیست سفارش ها</a> </li>
								<li><a href="checkout.html"><i class="fas fa-shopping-cart"></i>سبد خرید <span
											class="badge badge-secondary">3</span></a></li>

								<li class="nav-item dropdown">
									<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
											class="fas fa-user-circle"></i>حساب کاربری <i
											class="fas fa-caret-down"></i></a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
										<a class="dropdown-item" href="my_profile_dashbord.html">سفارش های من</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">علاقه مندی ها</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">لیست سفارش</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">تاریخچه سفارش</a>
										<a class="dropdown-item" href="my_profile_dashbord.html"> تنظیمات کاربری</a>
										<a class="dropdown-item" href="my_profile_dashbord.html"> خروج</a>

									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--header end-->

	<!--title-bar start-->
	<section class="title-bar text-center">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="left-title-text">
			<h3>تایید نهایی</h3>
			</div>
			</div>
		</div>
		</div>
	</section>
  <!--title-bar end-->

	<!--partners start-->
	<section class="all-partners mb-7">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<div class="my-checkout">
						<div class="table-responsive">
							<table class="table  table-bordered">
								<thead>
									<tr>
										<td class="td-heading">سفارش شما</td>
										<td class="td-heading">تعداد</td>
										<td class="td-heading">قیمت</td>
										<td class="td-heading">جمع</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="checkout-thumb">
												<a>
													<img src="images/checkout/thumb-1.jpg" class="img-responsive" alt="thumb" title="thumb"/>
												</a>
											</div>
											<div class="m-4">
												<a><h4>چلو کباب لقمه زعفرانی</h4></a>
											</div>
										</td>
										<td class="td-content">2</td>
										<td class="td-content">42,000تومان</td>
										<td class="td-content">84,000تومان</td>
									</tr>
									<tr>
										<td>
											<div class="checkout-thumb">
												<a>
													<img src="images/checkout/thumb-1.jpg" class="img-responsive" alt="thumb" title="thumb">
												</a>
											</div>
											<div class="m-4">
												<a><h4>چلو کباب لقمه زعفرانی</h4></a>
											</div>
										</td>
										<td class="td-content">2</td>
										<td class="td-content">42,000تومان</td>
										<td class="td-content">84,000تومان</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td class="td-content"></td>
										<td class="td-content">4</td>
										<td class="td-content"></td>
										<td class="td-content">186,000تومان</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>

					<div class="right-payment-method">
						<h4> <i class="fa fa-credit-card"></i>  نحوه‌ی تحویل سفارش را مشخص کنید </h4>
						<div class="single-payment-method">
							<div class="payment-method-name">
								<div class="custom-control custom-radio pr-0">
									<label>
										<input type="radio" name="radioButtonName" value="radioButtonValue1">
									ازسال درب منزل
									</label>
								</div>
								<div class="custom-control custom-radio1 pr-0">
									<label>
										<input type="radio" name="radioButtonName" value="radioButtonValue1">
								دریافت حضوری
									</label>
								</div>
							</div>
						</div>
					</div>




	
					<div class="right-contact-dt">
						<h4>ثبت آدرس</h4>
						<form>
							<div class="form-group">
								<div class="input-field">
									<select class="confirm-form" id="" placeholder="آدرس">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>

								</div>
							</div>
						</form>
					</div>
					<div class="promocode">
						<h4> کد تخفیف</h4>
						<form>
							<input class="coupon-input" name="newsletter" type="text" placeholder="اگر کد تخفیف دارید در این بخش وارد کنید و دکمه اعمال را بزنید">
							<div class="subscribe-btn">
								<div class="s-n-btn">
									<button class="promocode-btn">  اعمال کد  </button>
								</div>
							</div>
						</form>
					</div>
					
					<div class="right-payment-method">
						<h4> <i class="fa fa-credit-card"></i>  نوع پرداخت </h4>
						<div class="single-payment-method">
							<div class="payment-method-name">
								<div class="custom-control custom-radio pr-0">
									<label>
										<input type="radio" name="radioButtonName" value="radioButtonValue1">
									آنلاین
									</label>
								</div>
								<div class="custom-control custom-radio1 pr-0">
									<label>
										<input type="radio" name="radioButtonName" value="radioButtonValue1">
								حضوری
									</label>
								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="col-lg-4 col-md-4">
					<div class="your-order">
						<h4>سفارش شما</h4>
						<div class="order-d">
							<div class="item-dt-left">
								<span>جمع سفارش</span>
							</div>
							<div class="item-dt-right">
								<p>186,000تومان</p>
							</div>
						</div>
						<div class="order-d">
							<div class="item-dt-left">
								<span>هزینه ارسال</span>
							</div>
							<div class="item-dt-right">
								<p>رایگان</p>
							</div>
						</div>

						<div class="order-d">
							<div class="item-dt-left">
								<span>تخفیف</span>
							</div>
							<div class="item-dt-right">
								<p>0 تومان</p>
							</div>
						</div>
						<div class="total-bill">
							<div class="total-bill-text">
								<h5>قابل پرداخت</h5>
							</div>
							<div class="total-bill-payment">
								<p>186,000تومان</p>
							</div>
						</div>
					</div>
					<div class="checkout-btn">
						<button type="submit" class="chkout-btn btn-link">تایید نهایی سفارش  </button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--partners end-->
	<!--footer start-->
	<footer class="footer">
		<div class="subscribe-now line">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 col-md-6">
					</div>

				</div>
			</div>
		</div>
		<div class="container">
			
		</div>
		<div class="privacy-cards">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="privacy-terms text-center">
							<ul>
								<li><a href="#">انتخاب رستوران</a></li>
								<li><a href="#">پروفایل</a></li>
								<li><a href="#">سفارش های من</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	</footer>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="assets/owlcarousel/owl.carousel.js"></script>
	<script src="js/owlslider.js"></script>
</body>

</html>