{% extends 'base/base.html' %}
{% load static %}
{% load user_filters %}
{% load humanize %}
{% block content %}
    <!--title-bar start-->
    <section class="title-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left-title-text">
                        <h3>پروفایل کاربری</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!--title-bar end-->
<!--my-account-tabs start-->
<section class="all-profile-details" style="min-height: 650px;">
    <div class="container">
        <div class="row">
            <!--my-account start-->
            <section class="my-account">
                <div class="profile-bg">
                    <div class="my-Profile-dt bg-transparent">
                        <div class="container">
                            <div class="row">
                                <div class="container">
                                    <div class="profile-all-dt">
                                        <div class="profile-name-dt ml-5">
                                            {% if request.user.profile.image %}
                                                <img src="{{ request.user.profile.image.url }}" alt="">
                                            {% else %}
                                                <img src="{% static 'user/images/profile_default.png' %}" alt="">
                                            {% endif %}
                                            <h1>{{ user.profile.full_name }}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--my-account end-->
            <div class="col-lg-3 col-md-4 col-12">
                <div class="left-tab-links">
                    <div class="nav nav-pills nav-stacked nav-tabs ui vertical menu fluid">
                        <a href="#my-orders"
                           data-toggle="tab"
                           class="item user-tab cursor-pointer active">سفارش‌های من</a>
                        <a href="#edit-profile"
                           data-toggle="tab"
                           class="item user-tab cursor-pointer">اطلاعات کاربری</a>
                        <!-- <a href="#notifications" data-toggle="tab" class="item user-tab cursor-pointer">اعلانات <span class="n-badge">2</span></a> -->
                        <a href="#change-password"
                           data-toggle="tab"
                           class="item user-tab cursor-pointer">تغییر رمز عبور</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="my-orders">
                        <div class="timeline">
                            <div class="tab-content-heading">
                                <h4>سفارش‌های من</h4>
                            </div>
                            <div class="my-orders">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="my-checkout">
                                            <div class="table-responsive">
                                                <table class="table  table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <td class="td-heading">نام رستوران</td>
                                                            <td class="td-heading">قیمت</td>
                                                            <td class="td-heading"></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for order in orders %}
                                                            <tr>
                                                                <td>
                                                                    <div class="checkout-thumb-2"></div>
                                                                    <div class="name-dt">
                                                                        <a>
                                                                            <h4>{{ order.restaurant.name }}</h4>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="td-content">{{ order.total_price|intcomma }} تومان</td>
                                                                <td>
                                                                    <button class="trace-btn btn-link"
                                                                            data-toggle="modal"
                                                                            data-target="#order_detail_{{ order.id }}">
                                                                        مشاهده فاکتور
                                                                    </button>
                                                                </button>
                                                                {% if order.is_deletable %}
                                                                    <button class="trash-btn btn-link">
                                                                        <i class="far fa-trash-alt"></i>
                                                                    </button>
                                                                    <!-- TODO:add delete action -->
                                                                {% endif %}
                                                                <div class="modal fade"
                                                                     tabindex="-1"
                                                                     id="order_detail_{{ order.id }}"
                                                                     role="dialog"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog modal-xl">
                                                                        <div class="modal-content">
                                                                            <div class="trace-model">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                                <div class="container mb-1">
                                                                                    <div class="row no-gutters">
                                                                                        <div class="tab-content-heading">
                                                                                            <h4 class="m-3">غذا ها</h4>
                                                                                        </div>
                                                                                        <div class="col-lg-8 col-md-6 col-12 my-orders">
                                                                                            <div id="my-checkout-detail" class="my-checkout">
                                                                                                <div class="table-responsive">
                                                                                                    <table id="foods_table" class="table  table-bordered">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <td class="td-heading">نام غذا</td>
                                                                                                                <td class="td-heading">قیمت</td>
                                                                                                                <td class="td-heading">تعداد</td>
                                                                                                                <td class="td-heading">جمع</td>
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            {% for food in order.foods.all %}
                                                                                                                <tr>
                                                                                                                    <td>{{ food.food.name }}</td>
                                                                                                                    <td>{{ food.food.price|intcomma }} تومان</td>
                                                                                                                    <td>{{ food.count }}</td>
                                                                                                                    <td>{{ food.total_price }}</td>
                                                                                                                </tr>
                                                                                                            {% endfor %}
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                                {% if order.deliver.exists %}
                                                                                                    <div id="driver-info" style="margin: 30px 40px">
                                                                                                        <h3>
                                                                                                            اطلاعات راننده
                                                                                                        </h1>
                                                                                                        <div class="driver m-3">
                                                                                                            <div class="row row-driver m-3">
                                                                                                                <div class="item-driver">نام و نام خانوادگی: {{ order.get_deliver_drive_name }}</div>
                                                                                                            </div>
                                                                                                            <div class="row row-driver m-3">
                                                                                                                <div class="item-driver">شماره تلفن: {{ order.get_deliver_drive_phone }}</div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-4 col-md-6 col-12">
                                                                                            <div class="right-order-dt">
                                                                                                <div class="order-no">
                                                                                                    شماره سفارش : {{ order.id }}
                                                                                                </div>
                                                                                                <h1>
                                                                                                </h1>
                                                                                                <div class="payment-method-dt">
                                                                                                    <div class="attr-l">
                                                                                                        هزینه پیک
                                                                                                    </div>
                                                                                                    <div id="order_details_coupon" class="attr-r">
                                                                                                        {{ order.get_delivery_fee|intcomma }} تومان
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="payment-tol-dt">
                                                                                                    <div class="attr-l2">
                                                                                                        جمع کل
                                                                                                    </div>
                                                                                                    <div id="order_details_price" class="attr-r2">
                                                                                                        {{ order.total_price }} تومان
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="payment-method-dt">
                                                                                                    <div class="attr-l">
                                                                                                        روش دریافت
                                                                                                    </div>
                                                                                                    <div id="order_details_resive_type" class="attr-r">
                                                                                                        {{ order.show_receive_type }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="edit-profile">
                    <div class="timeline">
                        <div class="tab-content-heading">
                            <h4>
                                اطلاعات کاربری
                            </h4>
                        </div>
                        <div class="edit-profile">
                            <h6>
                                اطلاعات شما
                            </h6>
                            <form class="mt-4"
                                  action="{% url 'user:Profile' %}#edit-profile-btn"
                                  method="POST"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="mode" value="edit_user">
                                {{ frm_user.non_field_errors }}
                                <div class="form-group">
                                    {{ frm_user.first_name|AddAttr:"class:video-form" }}
                                </div>
                                <div class="form-group">
                                    {{ frm_user.last_name|AddAttr:"class:video-form" }}
                                </div>
                                <div class="form-group">
                                    {{ frm_user.email|AddAttr:"class:video-form" }}
                                </div>
                                <button type="submit" class="change-btn btn-link">
                                    ثبت تغییرات
                                </button>
                            </form>
                        </div>
                        <div class="edit-profile">
                            <h6>
                                اطلاعات شما
                            </h6>
                            <form class="mt-4"
                                  action="{% url 'user:Profile' %}#edit-profile-btn"
                                  method="POST"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="mode" value="edit_profile">
                                {{ frm_profile.non_field_errors }}
                                <div class="form-group">
                                    {{ frm_profile.address|AddAttr:"class:video-form" }}
                                </div>
                                <div class="form-group">
                                    {{ frm_profile.phone|AddAttr:"class:video-form" }}
                                </div>
                                <div class="form-group">
                                    {{ frm_profile.image|AddAttr:"class:video-form" }}
                                </div>
                                <button type="submit" class="change-btn btn-link">
                                    ثبت تغییرات
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="change-password">
                    <div class="timeline">
                        <div class="tab-content-heading">
                            <h4>
                                تغییر رمز عبور
                            </h4>
                        </div>
                        <div class="edit-profile">
                            <form action="{% url 'user:Profile' %}#change-password-btn" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="mode" value="edit_password">
                                {{ frm_password.non_field_errors }}
                                <div class="form-group">
                                    {{ frm_password.oldpassword.errors }}
                                    <label for="{{ frm_password.oldpassword.id_for_label }}">
                                        رمز عبور فعلی *
                                    </label>
                                    {{ frm_password.oldpassword | AddAttr:"class:video-form" }}
                                </div>
                                <div class="form-group">
                                    {{ frm_password.password1.errors }}
                                    <label for="{{ frmchange.password1.id_for_label }}">
                                        رمز عبور جدید *
                                    </label>
                                    {{ frm_password.password1 | AddAttr:"class:video-form" }}
                                </div>
                                <div class="form-group">
                                    {{ frm_password.password2.errors }}
                                    <label for="{{ frmchange.password2.id_for_label }}">
                                        تایید رمز عبور جدید *
                                    </label>
                                    {{ frm_password.password2 | AddAttr:"class:video-form" }}
                                </div>
                                <button type="submit" class="change-btn btn-link">
                                    ثبت تغییرات
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}
