<footer class="footer">
  <div class="subscribe-now line">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 col-md-6">
        </div>

      </div>
    </div>
  </div>
  <div class="container">

  </div>
  <div class="privacy-cards">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="privacy-terms text-center">
            <ul>
              <li><a href="{% url 'restaurant:Index' %}">انتخاب رستوران</a></li>
              <li><a href="{% url 'user:Profile' %}">پروفایل</a></li>
              <li><a href="{% url 'user:Profile' %}#my-orders-btn">سفارش های من</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
