<!--header start-->
<header id="header" class="default">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="topbar-right text-center text-md-right">
            <ul class="list-inline">
              {% if request.user.profile.is_special_type %}
                <li>
                  <a href="{{ request.user.profile.get_special_url }}"><i class="fas"></i>{{ request.user.profile.get_special_string }}</a>
                </li>
              {% endif %}
              <li>
                <a href="{% url 'restaurant:Index' %}"><i class="far fa-notes"></i>خوش آمدید {{ request.user.get_full_name }}</a>
              </li>
              <li>
                <a href="{% url 'user:Profile' %}#my-orders-btn"><i class="far fa-calendar-alt"></i>لیست سفارش ها</a>
              </li>
              <li>
                <a href="{% url 'restaurant:Checkout' %}"><i class="fas fa-shopping-cart"></i>سبد خرید</a>
              </li>

              <li class="nav-item dropdown">
                <a class="dropdown-toggle-no-caret"
                   href="#"
                   id="accountDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"><i class="fas fa-user-circle"></i>حساب کاربری <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="accountDropdown">
                  <a class="dropdown-item" href="{% url 'user:Profile' %}">سفارش های من</a>
                  <a class="dropdown-item" href="{% url 'user:Profile' %}#my-orders">لیست سفارش</a>
                  <a class="dropdown-item" href="{% url 'user:Profile' %}#edit-profile">تنظیمات کاربری</a>
                  <a class="dropdown-item" href="{% url 'user:Logout' %}">خروج</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
