{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon -->
	<link href="{% static 'fav.ico' %}" rel="shortcut icon" type="image/x-icon" />
	<title>سفارش غذا</title>
	<!-- Bootstrap core CSS-->
	<link href="{% static 'user/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'user/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'user/css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'user/css/mega.menu.css' %}" rel="stylesheet">
	<link href="{% static 'user/css/owlslider.css' %}" rel="stylesheet">

	<!-- Fontawesome styles for this template-->
	<link href="{% static 'user/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'user/js/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'user/vendor/jquery/jquery.min.js' %}"></script>
</head>
