<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon -->
	<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
	<title>سفارش غذا</title>
	<!-- Bootstrap core CSS-->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/mega.menu.css" rel="stylesheet">
	<link href="css/owlslider.css" rel="stylesheet">
	<!-- Owl Carousel تماس رستوران غذای اصفهانfor this template-->
	<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.html">
	<!-- Fontawesome styles for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body oncontextmenu="">

	<!--header start-->
	<header id="header" class="default">
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="topbar-right text-center text-md-right">
							<ul class="list-inline">
								<li><a href="#"><i class="far fa-calendar-alt"></i>لیست سفارش ها</a> </li>
								<li><a href="checkout.html"><i class="fas fa-shopping-cart"></i>سبد خرید <span
											class="badge badge-secondary">3</span></a></li>

								<li class="nav-item dropdown">
									<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
											class="fas fa-user-circle"></i>حساب کاربری <i
											class="fas fa-caret-down"></i></a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
										<a class="dropdown-item" href="my_profile_dashbord.html">سفارش های من</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">علاقه مندی ها</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">لیست سفارش</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">تاریخچه سفارش</a>
										<a class="dropdown-item" href="my_profile_dashbord.html"> تنظیمات کاربری</a>
										<a class="dropdown-item" href="my_profile_dashbord.html"> خروج</a>

									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--header end-->

	<!--title-bar start-->
	<section class="title-bar text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="left-title-text">
						<h3>پنل پیک</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--title-bar end-->
	<!--bill-slip start-->
	<section class="bill-slip">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="bill-container">
						<div class="new-heading">
							<h1> سفارش ارسالی</h1>
						</div>
						<div class="discount-text">
							<p> </p>
							<img src="images/contact/icon-1.svg" style="height:100px;" alt="">
							<p>مشخصات تحویل گیرنده</p>
						</div>
						<div class="slip-detail">
							<div class="slip-left">
								<p>نام تحویل گیرنده</p>
							</div>
							<div class="slip-right">
								<p>محمد محمدی</p>
							</div>
						</div>
						<div class="slip-detail">
							<div class="slip-left">
								<p>سفارش از</p>
							</div>
							<div class="slip-right">
								<p>رستوران شماره ۱</p>
							</div>
						</div>
						<div class="slip-detail">
							<div class="slip-left">
								<p>غذا</p>
							</div>
							<div class="slip-right">
								<p>چلو کباب لقمه مخصوص</p>
							</div>
						</div>
						<div class="slip-detail">
							<div class="slip-left">
								<p>تعداد سفارش</p>
							</div>
							<div class="slip-right">
								<p>2</p>
							</div>
						</div>
						<div class="slip-detail">
							<div class="slip-left">
								<p>مبلغ پرداخت شده</p>
							</div>
							<div class="slip-right">
								<p>42,000تومان</p>
							</div>
						</div>
						<div class="slip-detail">
							<div class="slip-left">
								<p>آدرس</p>
							</div>
							<div class="slip-right">
								<p>خیابان محتشم - خیابان احمدی - پلاک ۱۰۲</p>
							</div>
						</div>
						<div class="slip-detail">
							<div class="slip-left">
								<p> شماره تماس</p>
							</div>
							<div class="slip-right">
								<p>09901175520</p>
							</div>
						</div>
						<div class="tolal">
							<div class="slip-bill-left">
								<h5>شماره سفارش</h5>
							</div>
							<div class="slip-bill-right">
								<p>78196352</p>
							</div>
						</div>

					</div>
					<div class="m-2 float-right">
						<div class="m-2">
							<a href="tel:5554280940" class="btn btn-info">تماس با تحویل گیرنده</a>

							<button class="btn btn-primary" data-toggle="modal" data-target="#trace">تحویل داده شد</button>


							<input class="btn btn-danger" type="button" name="answer" value="تحویل داده نشد"
								onclick="onButtonClick()" />
						</div>


						<div class="hide" id="textInput">
							<input class="video-form m-2" type="text" placeholder="توضیحات را اینجا وارد کنید" />
							<input class="btn btn-primary m-2" type="button" name="submit" value="ارسال توضیحات"
								onclick="onButtonClick2()" />
						</div>

						<div class="hide" id="callb">

							<div class="slip-bill-left">
								<h5>ضمن ثبت توضیحات لطفا هم اکنون موضوع را با رستوران در میان بگذارید</h5>
								<p>09901175520</p>
							</div>

						</div>
					</div>
					<script>
						function onButtonClick() {
							document.getElementById('textInput').className = "show";
						}
					</script>
					<script>
						function onButtonClick2() {
							document.getElementById('callb').className = "show";
						}
					</script>


				</div>
			</div>
		</div>

	</section>
	<!--partners end-->
	<!--footer start-->
	<footer class="footer">
		<div class="subscribe-now line">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 col-md-6">
					</div>

				</div>
			</div>
		</div>
		<div class="container">

		</div>
		<div class="privacy-cards">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="privacy-terms text-center">
							<ul>
								<li><a href="#">انتخاب رستوران</a></li>
								<li><a href="#">پروفایل</a></li>
								<li><a href="#">سفارش های من</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="assets/owlcarousel/owl.carousel.js"></script>
	<script src="js/owlslider.js"></script>
</body>

</html>
