<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon -->
	<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
	<title>سفارش غذا</title>
	<!-- Bootstrap core CSS-->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/mega.menu.css" rel="stylesheet">
	<link href="css/owlslider.css" rel="stylesheet">
	<!-- Owl Carousel تماس رستوران غذای اصفهانfor this template-->
	<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.html">
	<!-- Fontawesome styles for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body oncontextmenu="">

	<!--header start-->
	<header id="header" class="default">
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="topbar-right text-center text-md-right">
							<ul class="list-inline">
								<li><a href="#"><i class="far fa-calendar-alt"></i>لیست سفارش ها</a> </li>
								<li><a href="checkout.html"><i class="fas fa-shopping-cart"></i>سبد خرید <span
											class="badge badge-secondary">3</span></a></li>

								<li class="nav-item dropdown">
									<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
											class="fas fa-user-circle"></i>حساب کاربری <i
											class="fas fa-caret-down"></i></a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
										<a class="dropdown-item" href="my_profile_dashbord.html">سفارش های من</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">علاقه مندی ها</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">لیست سفارش</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">تاریخچه سفارش</a>
										<a class="dropdown-item" href="my_profile_dashbord.html"> تنظیمات کاربری</a>
										<a class="dropdown-item" href="my_profile_dashbord.html"> خروج</a>

									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--header end-->

	<!--title-bar start-->
    <section class="title-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="left-title-text">
              <h3>چگونه سفارش ثبت کنم؟</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--title-bar end-->

          <!--how-to-orders start-->
          <section class="how-to-orders">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="new-heading">
                              <h1>راهنمای ثبت سفارش رستوران غذا</h1>
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-6">
                          <div class="about-text1">
                              <p> به راحتی با ۴ کلیک سفارش خود را ثبت کنید </p>
                          </div>
                      </div>
                  </div>
                  <div class="order-steps">
                      <div class="row justify-content-md-center">
                          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                              <div class="order-img">
                                  <div class="order-bg" style="background-image: url(images/how-to-orders/order-bg.jpg)"></div>
                                  <div class="order-i">
                                      <div class="icon">
                                          <img src="images/how-to-orders/icon_1.svg" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                              <div class="order-text">
                                  <span>مرحله 1</span>
                                  <h4>انتخاب رستوران </h4>
                                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                              <div class="order-img">
                                  <div class="order-bg" style="background-image: url(images/how-to-orders/order-bg.jpg)"></div>
                                  <div class="order-i">
                                      <div class="icon">
                                          <img src="images/how-to-orders/icon_2.svg" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                              <div class="order-text">
                                  <span>مرحله 2</span>
                                  <h4>انتخاب تاریخ و غذا</h4>
                                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-12 col-xs-12">
                              <div class="order-img">
                                  <div class="order-bg" style="background-image: url(images/how-to-orders/order-bg.jpg)"></div>
                                  <div class="order-i">
                                      <div class="icon">
                                          <img src="images/how-to-orders/icon_3.svg" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                              <div class="order-text">
                                  <span>مرحله 3</span>
                                  <h4>پرداخت آنلاین</h4>
                                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                              <div class="order-img">
                                  <div class="order-bg" style="background-image: url(images/how-to-orders/order-bg.jpg)"></div>
                                  <div class="order-i">
                                      <div class="icon">
                                          <img src="images/how-to-orders/icon_4.svg" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                              <div class="order-text">
                                  <span>مرحله 4</span>
                                  <h4>تایید سفارش</h4>
                                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                              <div class="order-img">
                                  <div class="order-bg" style="background-image: url(images/how-to-orders/order-bg.jpg)"></div>
                                  <div class="order-i">
                                      <div class="icon">
                                          <img src="images/how-to-orders/icon_5.svg" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                              <div class="order-text">
                                  <span>مرحله 5</span>
                                  <h4>لذت بردن</h4>
                                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
	<!--partners end-->
	<!--footer start-->
	<footer class="footer">
		<div class="subscribe-now line">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 col-md-6">
					</div>

				</div>
			</div>
		</div>
		<div class="container">

		</div>
		<div class="privacy-cards">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="privacy-terms text-center">
							<ul>
								<li><a href="#">انتخاب رستوران</a></li>
								<li><a href="#">پروفایل</a></li>
								<li><a href="#">سفارش های من</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="assets/owlcarousel/owl.carousel.js"></script>
	<script src="js/owlslider.js"></script>
</body>

</html>
