<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon -->
	<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
	<title>سفارش غذا</title>
	<!-- Bootstrap core CSS-->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/mega.menu.css" rel="stylesheet">
	<link href="css/owlslider.css" rel="stylesheet">
	<!-- Owl Carousel تماس رستوران غذای اصفهانfor this template-->
	<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.html">
	<!-- Fontawesome styles for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body oncontextmenu="">

	<!--header start-->
	<header id="header" class="default">
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="topbar-right text-center text-md-right">
							<ul class="list-inline">
								<li><a href="#"><i class="far fa-calendar-alt"></i>لیست سفارش ها</a> </li>
								<li><a href="checkout.html"><i class="fas fa-shopping-cart"></i>سبد خرید <span
											class="badge badge-secondary">3</span></a></li>

								<li class="nav-item dropdown">
									<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
											class="fas fa-user-circle"></i>حساب کاربری <i
											class="fas fa-caret-down"></i></a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
										<a class="dropdown-item" href="my_profile_dashbord.html">سفارش های من</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">علاقه مندی ها</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">لیست سفارش</a>
										<a class="dropdown-item" href="my_profile_dashbord.html">تاریخچه سفارش</a>
										<a class="dropdown-item" href="my_profile_dashbord.html"> تنظیمات کاربری</a>
										<a class="dropdown-item" href="my_profile_dashbord.html"> خروج</a>

									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--header end-->

	<!--title-bar start-->
    <section class="block-preview">
		<div class="cover-banner" style="background-image: url(images/homepage/banner.jpg)"></div>
		<div class="container">
			<div class="row">
			</div>
		</div>
	</section>
	<!--banner end-->


	<!--how-to-work start-->
	<section class="how-to-work">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="work-item">
						<div class="work-img">
							<img src="images/homepage/how-to-work/img_1.svg" alt="">
						</div>
						<div class="work-text">
							<h4>رستوران غذای مورد نظر را وارد کنید</h4>
							<p>منوی مورد علاقه‌ی خود را از بین رستوران های غذا انتخاب کنید.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="work-item">
						<div class="work-img">
							<img src="images/homepage/how-to-work/img_2.svg" alt="">
						</div>
						<div class="work-text">
							<h4>غذای خود را انتخاب کنید</h4>
							<p>غذایی که می‌خواهید را انتخاب کنید و سفارش خود را ثبت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="work-item">
						<div class="work-img">
							<img src="images/homepage/how-to-work/img_3.svg" alt="">
						</div>
						<div class="work-text">
							<h4>غذایتان را نوش‌جان کنید</h4>
							<p>درب منزل یا حضوری از خود رستوران سفارشتان را تحویل بگیرید.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--how-to-work end-->


	<!--select resturant start-->
	<section class="order-food-online mt-6">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="new-heading">
						<h1> لطفا رستوران غذای مورد نظرتان را انتخاب کنید </h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="all-meal">
						<div class="top">
							<a href="restaurant_detail.html">
								<div class="bg-gradient"></div>
							</a>
							<div class="top-img">
								<img src="images/homepage/meals/img-2.jpg" alt="">
							</div>
							<div class="logo-img">
								<img src="images/homepage/meals/logo-2.jpg" alt="">
							</div>
							<div class="top-text">
								<div class="sub-heading">
									<h5><a href="restaurant_detail.html">رستوران غذای شماره ۱</a></h5>
								</div>
							</div>
						</div>
						<div class="bottom">
							<div class="bottom-text">
								<div class="time"><i class="fa fa-map-marker-alt"></i> اصفهان، گلزار، بعثت، بهاران
								</div>
								<div class="star">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<span>4.5</span>
								</div>
								<div class="partner-bottombar">
									<ul class="bottom-partner-links">
										<li><a href="restaurant_detail.html" data-toggle="tooltip" data-placement="top" title="View Menu"><i class="fas fa-book"></i> مشاهده منو</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="all-meal">
						<div class="top">
							<a href="restaurant_detail.html">
								<div class="bg-gradient"></div>
							</a>
							<div class="top-img">
								<img src="images/homepage/meals/img-3.jpg" alt="">
							</div>
							<div class="logo-img">
								<img src="images/homepage/meals/logo-2.jpg" alt="">
							</div>
							<div class="top-text">
								<div class="sub-heading">
									<h5><a href="restaurant_detail.html">رستوران غذای شماره ۲</a></h5>
								</div>
							</div>
						</div>
						<div class="bottom">
							<div class="bottom-text">
								<div class="time"><i class="fa fa-map-marker-alt"></i> اصفهان، لاله، بین خرم و ایمان
								</div>
								<div class="star">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<span>4.5</span>
								</div>
								<div class="partner-bottombar">
									<ul class="bottom-partner-links">
										<li><a href="restaurant_detail.html" data-toggle="tooltip" data-placement="top" title="View Menu"><i class="fas fa-book"></i> مشاهده منو</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="all-meal">
						<div class="top">
							<a href="restaurant_detail.html">
								<div class="bg-gradient"></div>
							</a>
							<div class="top-img">
								<img src="images/homepage/meals/img-5.jpg" alt="">
							</div>
							<div class="logo-img">
								<img src="images/homepage/meals/logo-2.jpg" alt="">
							</div>
							<div class="top-text">
								<div class="sub-heading">
									<h5><a href="restaurant_detail.html">رستوران غذای شماره ۳</a></h5>
								</div>
							</div>
						</div>
						<div class="bottom">
							<div class="bottom-text">
								<div class="time"><i class="fa fa-map-marker-alt"></i>سعادت آباد، پاساژ میلاد نور، طبقه
									همکف</div>
								<div class="star">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<span>4.5</span>
								</div>
								<div class="partner-bottombar">
									<ul class="bottom-partner-links">
										<li><a href="restaurant_detail.html" data-toggle="tooltip" data-placement="top" title="View Menu"><i class="fas fa-book"></i> مشاهده منو</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--partners end-->
	<!--footer start-->
	<footer class="footer">
		<div class="subscribe-now line">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 col-md-6">
					</div>

				</div>
			</div>
		</div>
		<div class="container">

		</div>
		<div class="privacy-cards">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="privacy-terms text-center">
							<ul>
								<li><a href="#">انتخاب رستوران</a></li>
								<li><a href="#">پروفایل</a></li>
								<li><a href="#">سفارش های من</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="assets/owlcarousel/owl.carousel.js"></script>
	<script src="js/owlslider.js"></script>
</body>

</html>
